@use '../abstracts/' as *;

.header {
  position: fixed;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;

  background-color: transparent;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;

    min-width: 100%;
    min-height: rem(89);

    padding-inline: $margin-sm;

    border-bottom: 1px var(--clr-neutral-550) solid;

    & > .header__logo {
      grid-column: 2 / 4;
      justify-self: center;
    }

    & > *:last-child {
      justify-self: end;
    }

    @include breakpoint(medium) {
      grid-template-columns: auto repeat(3, 1fr);
      gap: rem(42);

      min-width: unset;

      padding: 0;

      & > .header__logo {
        justify-self: flex-start;
      }
    }

    @include breakpoint(large) {
      grid-template-columns: repeat(4, 1fr);
      min-height: rem(96);

      & > .header__logo {
        justify-self: flex-start;

        grid-column: unset;
      }

      & > nav {
        grid-column: 2 / 4;
        justify-content: center;
        gap: rem(34);
      }
    }
  }
}

.main {
  background-color: black;
  height: 120vh;
  padding-top: 10rem;
}
