@use '../../abstracts/' as *;

.cart-modal {
  z-index: 2;
  position: fixed;
  inset: $header-height-sm 0 0 0;

  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  overflow-x: hidden;

  .header--on-scroll & {
    inset: $header-height-on-scroll-sm 0 0 0;
  }

  &__container {
    display: grid;
    gap: rem(32);

    max-width: rem(380);

    margin-top: $margin-sm;
    padding: rem(32) rem(28) rem(32) rem(28);

    border-radius: 8px;
    background-color: #fff;

    animation: slide-in 0.5s;

    @include breakpoint-down(small) {
      padding: rem(16) rem(14) rem(16) rem(14);
    }

    @include breakpoint(medium) {
      margin-inline: auto 0;
    }

    @include breakpoint(large) {
      margin-top: rem(32);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__body {
    display: grid;
    gap: rem(24);
  }

  &__total {
    display: flex;
    justify-content: space-between;
  }
}

@include breakpoint-down(large) {
  :root {
    --translate-distance: 100%;
  }
}

@include breakpoint(large) {
  :root {
    --translate-distance: 200%;
  }
}

@keyframes slide-in {
  from {
    translate: var(--translate-distance);
  }
  to {
    translate: 0;
  }
}
