@use '../../abstracts/' as *;

.item-short-card {
  display: grid;
  justify-items: center;
  align-content: space-between;
  gap: rem(32);

  &__content {
    display: grid;
    justify-items: center;
    gap: rem(32);
  }
}
