.load-screen {
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100dvh;
  width: 100dvw;

  &--inactive {
    display: none;
  }
}
