@use '../../abstracts/' as *;

.main-description {
  display: grid;
  gap: rem(40);

  margin-top: $flow-sm-400;

  @include breakpoint(medium) {
    gap: rem(63);

    margin-top: $flow-md-100;
  }

  @include breakpoint(large) {
    gap: rem(125);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    margin-top: $flow-lg-400;
  }

  &__text {
    display: grid;
    gap: rem(32);
    @include breakpoint(large) {
      align-content: center;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  &__img-container {
    @include breakpoint(large) {
      grid-column: 2 / -1;
      grid-row: 1 / 2;
    }
  }
}
