@use '../../abstracts/' as *;

.item-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: rem(64);
  gap: 1rem;

  &__image-container {
    height: rem(64);
    width: rem(64);
  }

  &__img {
    object-fit: contain;
    border-radius: 8px;
    overflow: hidden;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
  }
}
