@use '../../abstracts/' as *;

.item-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  max-height: rem(64);

  &__image-container {
    height: rem(64);
    width: rem(64);

    margin-right: 0.5rem;
  }

  &__img {
    min-width: 64px;

    border-radius: 8px;
  }

  &__text {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    white-space: nowrap;
  }
}
