// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: rem(160);
  min-height: rem(48);

  padding-inline: rem(20);

  border: none;
  cursor: pointer;

  &--primary {
    background-color: var(--clr-primary-400);

    @include on-hover {
      &:hover {
        background-color: var(--clr-primary-300);
      }
    }
  }

  &--secondary {
    background-color: transparent;
    border: 1px solid var(--clr-neutral-700);

    @include on-hover {
      &:hover {
        background-color: var(--clr-neutral-700);
      }
    }
    &--dark {
      background-color: var(--clr-neutral-700);
      @include on-hover {
        &:hover {
          background-color: hsl(0, 0, 30%);
          border-color: hsl(0, 0, 30%);
        }
      }
    }
  }

  &--tertiary {
    gap: rem(13);
    min-height: unset;
    min-width: unset;
    padding: 0;
    background-color: transparent;
  }

  &--quaternary {
    min-height: unset;
    min-width: unset;
    padding: 0;
    background-color: transparent;
  }
}

.img-btn {
  background: transparent;
  border: none;
  cursor: pointer;

  &--close > img {
    min-height: rem(25);
    filter: invert(1);
  }

  @include on-hover {
    &:hover {
      filter: brightness(0) saturate(100%) invert(71%) sepia(19%)
        saturate(6801%) hue-rotate(330deg) brightness(93%) contrast(81%);
    }
  }
}
