@use '../abstracts/' as *;

.categories {
  margin-top: $flow-sm-400;

  @include breakpoint(medium) {
    margin-top: $flow-md-400;
  }

  @include breakpoint(large) {
    margin-top: $flow-lg-200;
  }

  &:first-child {
    margin-top: $flow-sm-100;
    @include breakpoint(medium) {
      margin-top: $flow-md-100;
    }

    @include breakpoint(large) {
      margin-top: $flow-lg-100;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: rem(20);

    @include breakpoint(medium) {
      flex-direction: row;
      gap: rem(10);
    }
    @include breakpoint(large) {
      gap: rem(30);
    }
  }
}

.category .categories {
  margin-top: $flow-sm-400;

  @include breakpoint(medium) {
    margin-top: $flow-md-400;
  }

  @include breakpoint(large) {
    margin-top: $flow-lg-200;
  }
}
