@use '../abstracts/' as *;

.item-short-card {
  display: grid;
  justify-items: center;
  gap: rem(32);
  align-content: space-between;

  &__content {
    display: grid;
    gap: rem(32);
    justify-items: center;
  }
}
