@use '../abstracts/' as*;

.product2 {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
  display: grid;
  align-items: center;
  border-radius: rem(8);

  @include breakpoint(medium) {
    aspect-ratio: unset;
    min-height: rem(320);
  }

  &__img {
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: rem(8);

    @include breakpoint(medium) {
      min-height: 100%;
      min-width: 100%;
      object-fit: cover;
    }
  }

  &__text {
    display: grid;
    gap: rem(32);
    justify-items: start;
    margin-left: $margin-sm;

    @include breakpoint(medium) {
      margin-left: rem(62);
    }
    @include breakpoint(large) {
      margin-left: rem(95);
    }
  }
}
