@use '../abstracts/' as *;

.header {
  z-index: 3;
  position: fixed;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;

  background-color: var(--clr-neutral-600);

  transition: height 0.5s;

  &--transparent {
    background-color: transparent;
  }

  &--on-scroll {
    background-color: var(--clr-neutral-600);
    box-shadow: 0 0 2px 1px rgba(15, 15, 15, 0.5);

    & .header__container {
      height: $header-height-on-scroll-sm;

      border-bottom: 1px hsla(0, 0, 0, 0) solid;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;

    min-width: 100%;
    height: $header-height-sm;

    padding-inline: $margin-sm;

    border-bottom: 1px var(--clr-neutral-550) solid;
    transition: 0.5s;

    & > .header__logo {
      justify-self: center;
    }

    & > *:last-child {
      justify-self: end;

      display: flex;
      align-items: center;
    }

    @include breakpoint(medium) {
      grid-template-columns: auto repeat(3, 1fr);
      gap: rem(42);

      min-width: unset;

      padding: 0;

      & > .header__logo {
        grid-column: span 2;

        justify-self: flex-start;
      }
    }

    @include breakpoint(large) {
      grid-template-columns: repeat(4, 1fr);

      height: $header-height-lg;

      & > .header__logo {
        justify-self: flex-start;

        grid-column: unset;
      }

      & > nav {
        grid-column: 2 / 4;
        justify-content: center;
        gap: rem(34);
      }
    }
  }

  &__cart {
    position: relative;
  }

  &__nbr-items {
    position: absolute;
    top: 0;
    right: 0;
    translate: 50% -50%;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 18px;
    width: 18px;

    background-color: var(--clr-primary-400);
    border-radius: 20rem;
  }
}
