@use '../../abstracts/' as *;

.input {
  min-width: 0;
  border-radius: rem(8);
  border: 1px solid var(--clr-neutral-300);
  padding: rem(19) rem(24);
  outline: none;
  caret-color: var(--clr-primary-400);
  cursor: pointer;

  &:focus {
    border-color: var(--clr-primary-400);
  }

  &:hover {
    @include on-event {
      border-color: var(--clr-primary-400);
    }
  }

  &--error {
    border: var(--clr-primary-600) 1px solid;
    outline: var(--clr-primary-600) 1px solid;

    &:focus {
      border-color: var(--clr-primary-600);
    }

    &:hover {
      @include on-event {
        border-color: var(--clr-primary-600);
      }
    }
  }

  &__label {
    text-align: start;
  }

  &__error-text {
    position: absolute;
    justify-self: flex-end;
  }

  &__container {
    position: relative;
    display: grid;
    gap: rem(9);
  }
}
