@use '../../abstracts/' as *;

.radio {
  display: flex;
  align-items: center;
  gap: rem(16);

  width: 100%;

  padding: rem(19) rem(24);
  border-radius: rem(8);

  border: 1px solid var(--clr-neutral-300);
  cursor: pointer;

  &:focus-within {
    border-color: var(--clr-primary-400);
  }

  @include on-hover {
    &:hover {
      border-color: var(--clr-primary-400);
    }
  }

  &__check {
    height: rem(10);
    width: rem(10);

    outline-offset: rem(5);
    outline: 1px solid var(--clr-neutral-300);
    border-radius: rem(1000);
  }

  &--checked {
    border-color: var(--clr-primary-400);
  }

  &--checked &__check {
    background-color: var(--clr-primary-400);
  }

  &--error {
    border: var(--clr-primary-600) 1px solid;
    outline: var(--clr-primary-600) 1px solid;

    &:focus {
      border-color: var(--clr-primary-600);
    }

    &:hover {
      @include on-event {
        border-color: var(--clr-primary-600);
      }
    }
  }
}
