@use '../../abstracts/' as *;

.completion-modal {
  z-index: 1;
  position: fixed;
  inset: 0;

  display: grid;
  align-items: flex-start;

  padding-top: $header-height-sm;
  padding-bottom: $margin-sm;

  overflow: auto;

  background-color: rgba(0, 0, 0, 0.4);
  text-align: left;

  @include breakpoint(medium) {
    padding-top: $header-height-lg;
    padding-bottom: $margin-md;
  }

  @include breakpoint(medium) {
    padding-top: $header-height-lg;
    padding-bottom: $margin-lg;
  }

  &__container {
    display: grid;
    gap: rem(24);

    padding: rem(32);
    margin-top: $header-height-sm;

    border-radius: 8px;
    background-color: var(--clr-neutral-100);

    @include breakpoint(medium) {
      gap: rem(33);

      max-width: rem(540);

      padding: rem(48);
    }
  }

  &__container h1 {
    margin-bottom: rem(-8);
  }

  &__container p {
    margin-bottom: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;

    overflow: hidden;

    background-color: var(--clr-neutral-250);
    border-radius: 8px;

    @include breakpoint(medium) {
      flex-direction: row;
      flex-wrap: wrap;

      margin-bottom: rem(13);
    }
  }

  &__items {
    padding: rem(24);

    @include breakpoint(medium) {
      flex-grow: 1;
      flex-basis: 55%;

      min-width: 240px;
    }
  }

  &__other-items {
    display: grid;

    padding-top: rem(12);
    margin-top: rem(12);

    border-top: 1px solid var(--clr-neutral-300);
  }

  &__other-items-button {
    border: none;
  }

  &__total {
    display: grid;
    gap: rem(15);

    padding: rem(24);

    background-color: var(--clr-neutral-700);

    @include breakpoint(medium) {
      flex-grow: 1;
      flex-basis: 45%;
    }
  }
}
