.load-screen {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  & img {
    height: 100px;
    width: 100px;

    animation: rotation 3s linear infinite;
  }
}

@keyframes rotation {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}
