@use '../../abstracts/' as *;

.hero {
  position: relative;
  display: flex;

  min-height: rem(600);

  padding-top: $header-height-sm;

  @include breakpoint(medium) {
    min-height: rem(730);
  }

  &__img {
    position: absolute;

    top: 0;
    bottom: 0;
    right: 50%;
    translate: 50% 0;

    height: 100%;
    width: auto;
    object-fit: contain;
    object-position: center;

    z-index: -1;
  }

  &::before {
    position: absolute;
    content: '';
    inset: 0;

    z-index: -1;

    background-color: var(--clr-neutral-650);

    @include breakpoint(large) {
      padding-top: $header-height-lg;
    }
  }

  & .container {
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(large) {
      justify-content: flex-start;
    }
  }

  &__container {
    display: grid;
    gap: rem(25);
    justify-items: center;

    max-width: rem(330);

    @include breakpoint(medium) {
      max-width: rem(350);
    }

    @include breakpoint(large) {
      justify-items: flex-start;

      max-width: rem(380);
    }
  }

  &__cta {
    @include breakpoint(medium) {
      margin-top: rem(15);
    }
  }
}
