/**
 * Basic typography style for copy text
 */
@use '../abstracts/' as *;

body {
  color: var(--clr-neutral-500);
  font-family: $text-font-stack;
  font-size: var(--fs-400);
  font-weight: var(--fw-light);
  text-align: center;

  @include breakpoint(large) {
    text-align: left;
  }
}

.h1 {
  text-transform: uppercase;
  color: var(--clr-neutral-100);
  letter-spacing: rem(1.3);
  line-height: 115%;
  font-size: var(--fs-850);

  &--small {
    font-size: var(--fs-700);
  }

  &--medium {
    font-size: var(--fs-900);
  }

  &--medium-responsive {
    font-size: var(--fs-650);
    line-height: 100%;
  }
}

.h2,
.h2 > * {
  text-transform: uppercase;
  color: var(--clr-neutral-100);
  font-size: var(--fs-850);
  letter-spacing: rem(1.3);
  line-height: 100%;
}

.h2--secondary,
.h2--secondary > * {
  color: var(--clr-neutral-700);
  font-size: var(--fs-700);
}

.h2--large {
  font-size: var(--fs-950);
  line-height: 1.3;

  @include breakpoint-down('small') {
    font-size: var(--fs-800);
  }
}

.h2--small {
  font-size: var(--fs-650);
}

.h2--extra-small {
  font-size: var(--fs-550);
}

.h2--toast {
  font-size: var(--fs-450);
}

.h3 {
  text-transform: uppercase;
  color: var(--clr-neutral-700);
  letter-spacing: rem(1.3);
  font-size: var(--fs-500);

  @include breakpoint(medium) {
    letter-spacing: rem(1.05);
  }

  &--summary {
    font-size: var(--fs-400);
    color: var(--clr-neutral-500);
    font-weight: var(--fw-normal);
  }

  &--big {
    font-size: var(--fs-600);
  }
}

.btn {
  font-weight: var(--fw-bold);
  font-size: var(--fs-300);
  letter-spacing: 1px;
  text-transform: uppercase;

  &--primary {
    color: var(--clr-neutral-100);
  }

  &--secondary {
    @include on-hover {
      &:hover {
        color: var(--clr-neutral-100);
      }
    }

    &--dark {
      color: var(--clr-neutral-100);
    }
  }

  &--tertiary {
    color: inherit;
    font-size: var(--fs-400);

    @include on-hover {
      &:hover {
        color: var(--clr-primary-400);
      }
    }
  }

  &--quaternary {
    color: inherit;
    font-weight: var(--fw-normal);
    font-size: var(--fs-400);

    text-transform: capitalize;
    text-decoration: underline;

    @include on-hover {
      &:hover {
        color: var(--clr-primary-400);
      }
    }
  }
}

.input {
  letter-spacing: -0.25px;
  line-height: rem(19);
  font-weight: var(--fw-bold);

  &::placeholder {
    color: var(--clr-neutral-400);
    font-weight: var(--fw-bold);
    font-size: var(--fs-300);
  }

  &__label {
    color: var(--clr-neutral-700);
    font-weight: var(--fw-bold);
    font-size: var(--fs-100);

    &--error {
      color: var(--clr-primary-600);
    }
  }

  &__error-text {
    font-size: var(--fs-100);
    color: var(--clr-primary-600);
  }
}

.radio {
  font-weight: var(--fw-bold);
  font-size: var(--fs-300);
  color: var(--clr-neutral-700);
}

.number-input {
  font-weight: var(--fw-bold);
  font-size: var(--fs-200);
  &__btn {
    font-weight: inherit;
    font-size: inherit;
    color: var(--clr-neutral-350);
    @include on-hover {
      &:hover {
        color: var(--clr-primary-400);
      }
    }
  }
}

.nav-link {
  font-weight: var(--fw-bold);
  font-size: var(--fs-200);
  color: var(--clr-neutral-100);
  text-decoration: none;
  letter-spacing: rem(2);

  &--active {
    color: var(--clr-primary-400);
  }
  @include on-hover {
    &:hover {
      color: var(--clr-primary-400);
    }
  }
}

.inner-link {
  color: inherit;
  font-weight: var(--fw-normal);
  font-size: var(--fs-400);

  text-transform: capitalize;
  text-decoration: none;

  @include on-hover {
    &:hover {
      color: var(--clr-primary-300);
    }
  }
}

.text-100 {
  letter-spacing: rem(10);
  text-transform: uppercase;
  font-weight: var(--fw-light);
  font-size: var(--fs-300);
}

.text-primary {
  color: var(--clr-primary-400);
}

.text-gray {
  color: var(--clr-neutral-400);
}

.text-black {
  color: var(--clr-neutral-600);
}

.white {
  color: var(--clr-neutral-100);
}

.subtitle {
  line-height: rem(25);
  color: var(--clr-neutral-300);
}

em,
strong {
  color: var(--clr-primary-400);
}

.header {
  &__nbr-items {
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
    font-size: var(--fs-200);
  }
}

.main-description__secondary h2 {
  font-size: var(--fs-900);
  line-height: 110%;
  text-transform: uppercase;
  color: var(--clr-neutral-700);
  letter-spacing: rem(1.3);
}

.inner-link {
  @include on-hover {
    &:hover {
      color: var(--clr-primary-400);
    }
  }
}

.item-details {
  text-align: left;
}

em {
  font-style: normal;
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-600);
  font-size: var(--fs-550);
  letter-spacing: rem(1.3);
}

.cart-modal {
  & h3 {
    color: var(--clr-neutral-500);
    font-weight: var(--fw-normal);
  }
  &__price {
    color: var(--clr-neutral-700);
    font-size: var(--fs-550);
    font-weight: var(--fw-bold);
  }
}

.item-short-card {
  @include breakpoint(medium) {
    text-align: center;
  }
}

.item-cart {
  font-weight: var(--fw-bold);
  & h2 {
    font-size: var(--fs-400);
  }

  &__text,
  &__text h2 {
    letter-spacing: 0;
    line-height: 25px;
  }

  &__price {
    font-size: var(--fs-300);
  }
}

.form-checkout {
  text-align: start;
}

.form-checkout {
  &__subtitle {
    color: var(--clr-primary-400);
    font-weight: var(--fw-bold);
    font-size: var(--fs-200);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__radio-title {
    font-size: var(--fs-200);

    color: var(--clr-neutral-700);
    font-weight: var(--fw-bold);
  }

  &__summary-subtitle {
    color: var(--clr-neutral-700);
    font-weight: var(--fw-bold);
    font-size: var(--fs-550);
  }
}

.summary {
  &__price {
    color: var(--clr-neutral-700);
    font-size: var(--fs-550);
    font-weight: var(--fw-bold);

    &--primary {
      color: var(--clr-primary-400);
    }
  }
}

.item-summary {
  font-weight: var(--fw-bold);

  &__text {
    line-height: 25px;
  }

  &__price {
    font-size: var(--fs-300);
  }
}
.completion-modal {
  &__other-items-button {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-100);

    @include on-hover {
      &:hover {
        color: var(--clr-primary-400);
      }
    }
  }

  &__heading {
    text-transform: uppercase;
  }

  &__price {
    font-weight: var(--fw-bold);
    font-size: var(--fs-550);
  }
}
