// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$colors: (
  primary: (
    300: hsla(22, 93%, 75%, 1),
    400: hsl(21, 65%, 57%),
    600: hsl(0, 65%, 49%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 98%),
    250: hsl(0, 0%, 95%),
    300: hsl(0, 0%, 81%),
    350: hsl(0, 0%, 73%),
    400: hsl(0, 0%, 60%),
    500: hsl(0, 0%, 49%),
    550: hsl(0, 0%, 18%),
    600: hsl(0, 0%, 6%),
    700: hsl(0, 0%, 0%),
  ),
);

:root {
  /// Build css custom variables for colors
  @each $color-type, $shades in $colors {
    @each $shade, $color in $shades {
      --clr-#{$color-type}-#{$shade}: #{$color};
    }
  }
}
