@use './mixins' as *;
@use './functions' as *;

$scale: (
  sm: (
    100: rem(12),
    200: rem(13),
    300: rem(14),
    400: rem(15),
    500: rem(15),
    600: rem(24),
    700: rem(28),
    800: rem(32),
    850: rem(36),
    900: rem(40),
    1000: rem(56),
  ),
  lg: (
    100: rem(12),
    200: rem(13),
    300: rem(14),
    400: rem(15),
    500: rem(18),
    600: rem(24),
    700: rem(28),
    800: rem(32),
    850: rem(36),
    900: rem(40),
    1000: rem(56),
  ),
);

$weights: (
  light: 400,
  normal: 500,
  bold: 700,
);

:root {
  /// Build css custom variables for font-size
  /// It integer a media query for each font (mobile-first)
  /// Une autre solution serait d'utiliser clamp()
  /// ==> clamp(valFixMinEnREM, valFixEnREMPlusValEnVW, valFixMaxEnREM)
  /// ==> valFixMinEnREM sont les valeur pour 'small' et valFixMaxEnREM sont les valeurs pour 'large'
  @each $screen-size, $font-size in $scale {
    @if $screen-size == 'sm' {
      @each $size, $value in $font-size {
        --fs-#{$size}: #{$value};
      }
    } @else {
      @include breakpoint(large) {
        @each $size, $value in $font-size {
          --fs-#{$size}: #{$value};
        }
      }
    }
  }

  @each $name, $value in $weights {
    --fw-#{$name}: #{$value};
  }
}
