@use './functions' as *;
@use './mixins' as *;

/// Regular font family
$text-font-stack: 'Manrope', sans-serif;

/// Container's maximum width
$max-width: 1440px;

// Main margins

$margin-lg: rem(165);
$margin-md: rem(40);
$margin-sm: rem(24);
