@use './functions' as *;
@use './mixins' as *;

/// Regular font family
$text-font-stack: 'Manrope', sans-serif;

/// Container's maximum width
$max-width: 1440px;

// Main margins

$margin-lg: rem(165);
$margin-md: rem(40);
$margin-sm: rem(24);

$header-height-sm: rem(89);
$header-height-lg: rem(96);

$flow-sm-100: rem(40);
$flow-sm-200: rem(64);
$flow-sm-300: rem(88);
$flow-sm-400: rem(120);

$flow-md-100: rem(96);
$flow-md-400: rem(120);

$flow-lg-100: rem(120);
$flow-lg-200: rem(160);
$flow-lg-300: rem(168);
$flow-lg-400: rem(200);
