@use '../../abstracts/' as *;

.btn {
  $transition-time: 0.35s;

  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: rem(160);
  min-height: rem(48);

  padding-inline: rem(20);

  border: none;
  cursor: pointer;

  background-color: transparent;

  isolation: isolate;

  &:disabled {
    background-color: var(--clr-neutral-300);
    cursor: auto;

    &:hover::before {
      opacity: 0;
    }
  }

  &--primary {
    background-color: var(--clr-primary-400);
    text-decoration: none;

    @include btn-background-animation(var(--clr-primary-300), $transition-time);
  }

  &--secondary {
    border: 1px solid var(--clr-neutral-700);

    background-color: transparent;

    transition: $transition-time;

    @include btn-background-animation(var(--clr-neutral-700), $transition-time);

    &--dark {
      background-color: var(--clr-neutral-700);

      @include btn-background-animation(hsl(0, 0, 30%), $transition-time);

      @include on-hover {
        &:hover {
          border-color: hsl(0, 0, 30%);
        }
      }
    }
  }

  &--tertiary {
    min-height: unset;
    min-width: unset;
    padding: 0;
  }

  &__content {
    display: inline-flex;
    align-items: center;
    gap: rem(13);

    z-index: 1;
    background-color: transparent;
  }

  &--quaternary {
    min-height: unset;
    min-width: unset;

    padding: 0;

    background-color: transparent;
  }
}

.img-btn {
  background: transparent;
  border: none;
  cursor: pointer;

  &--close > img {
    min-height: rem(25);
    filter: invert(1);
  }

  @include on-hover {
    &:hover {
      filter: brightness(0) saturate(100%) invert(71%) sepia(19%)
        saturate(6801%) hue-rotate(330deg) brightness(93%) contrast(81%);
    }
  }
}
