@use '../../abstracts/' as *;

.modal {
  z-index: 1;
  position: fixed;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.4);

  &__container {
    padding-block: $header-height-sm;
    height: 100%;

    display: flex;
    align-items: center;

    @include breakpoint(medium) {
      padding-block: $header-height-lg;
    }
  }
}
