@use '../../abstracts/' as *;

.not-found {
  padding-top: $header-height-sm;
  margin-top: $margin-sm;

  @include breakpoint(medium) {
    padding-top: $header-height-lg;
    margin-top: $margin-md;
  }

  @include breakpoint(large) {
    padding-top: $header-height-lg;
    margin-top: $margin-lg;
  }
}
