@use '../../abstracts/' as *;

.items {
  display: grid;
  gap: rem(120);
  margin-top: $flow-sm-200;

  @include breakpoint(medium) {
    margin-top: $flow-md-400;
  }

  @include breakpoint(large) {
    margin-top: $flow-lg-200;
    gap: rem(160);
  }
}
