@use '../../abstracts/' as *;

.products {
  display: grid;
  gap: rem(24);
  margin-top: $flow-sm-400;

  @include breakpoint(medium) {
    margin-top: $flow-md-100;
    gap: rem(32);
  }

  @include breakpoint(large) {
    margin-top: $flow-lg-300;
    gap: rem(48);
  }
}
